<div class="page-content-wrapper">
    
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{{pageTitle}}</h2>
            <div ncy-breadcrumb></div>
        </div>
    </div>
        
    
    <div class="page-content">
            <select class="form-control" style="width: 150px; margin-bottom: 20px; display:inline-block;" ng-change="changeDashboard()" ng-model="selectedDashboardId" ng-options="d.id as d.name for d in dashboards | object2Array | orderBy:'id'">
            </select>
            <a class="btn btn-primary" ng-click="addWidget()"><i class="glyphicon glyphicon-plus"></i> Add Widget</a>
            <a class="btn btn-warning" ng-click="clear()"><i class="glyphicon glyphicon-trash"></i> Clear</a>
                
            <div gridster="gridsterOptions">
                <ul ng-controller="ImageUploadCtrl">
                        <li gridster-item="dashboard.widgets[0]">
                        <!-- li gridster-item="widget" ng-repeat="widget in dashboard.widgets" -->
                            <div class="box">
                                    <div class="box-header">
                                        <h3><i class="{{ dashboard.widgets[0].icon }}"></i> {{ dashboard.widgets[0].name }}</h3>
                                        <div class="box-header-btns pull-right">
                                                <a title="Upload Selected" ng-click="openSettings(dashboard.widgets[0])"><i class="fa fa-cloud-upload"></i></a>
                                                <a title="Remove all files" ng-click="removeAllFiles()"><i class="glyphicon glyphicon-trash"></i></a>
                                        </div>
                                    </div>
                                    <div class="box-content" ng-file-drop ng-model="uploads" drag-over-class="dragover" ng-multiple="true" allow-dir="true"
                                         accept="image/*" ng-change="addFiles(uploads)">
                                        <div ng-no-file-drop>File Drag/Drop is not supported for this browser</div>        
                                        <ul class="list-group" ng-if="files.length > 0">
                                            <li class="list-group-item" ng-repeat="file in files">
                                                <i ng-thumb="{ file: file, width: 25, height: 25 }"></i> {{file.name}}
                                                <button type="button" class="btn btn-xs btn-danger pull-right" ng-click="files.splice($index, 1)">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                            </div>
                        </li>
                        <li gridster-item="dashboard.widgets[1]">
                        <!-- li gridster-item="widget" ng-repeat="widget in dashboard.widgets" -->
                            <div class="box">
                                    <div class="box-header">
                                        <h3><i class="{{ dashboard.widgets[1].icon }}"></i> {{ dashboard.widgets[1].name }}</h3>
                                        <div class="box-header-btns pull-right">
                                                <a title="settings" ng-click="openSettings(dashboard.widgets[1])"><i class="glyphicon glyphicon-cog"></i></a>
                                                <a title="Remove widget" ng-click="remove(dashboard.widgets[1])"><i class="glyphicon glyphicon-trash"></i></a>
                                        </div>
                                    </div>
                                    <div class="box-content">
                                        
                                    </div>
                            </div>
                        </li>
                        <li gridster-item="dashboard.widgets[2]">
                        <!-- li gridster-item="widget" ng-repeat="widget in dashboard.widgets" -->
                            <div class="box">
                                    <div class="box-header">
                                        <h3><i class="{{ dashboard.widgets[2].icon }}"></i> {{ dashboard.widgets[2].name }}</h3>
                                        <div class="box-header-btns pull-right">
                                                <a title="settings" ng-click="openSettings(dashboard.widgets[2])"><i class="glyphicon glyphicon-cog"></i></a>
                                                <a title="Remove widget" ng-click="remove(dashboard.widgets[2])"><i class="glyphicon glyphicon-trash"></i></a>
                                        </div>
                                    </div>
                                    <div class="box-content">
                                        
                                    </div>
                            </div>
                        </li>
<!--                        <li gridster-item="dashboard.widgets[3]">
                         li gridster-item="widget" ng-repeat="widget in dashboard.widgets" 
                            <div class="box">
                                    <div class="box-header">
                                        <h3><i class="{{ dashboard.widgets[3].icon }}"></i> {{ dashboard.widgets[3].name }}</h3>
                                        <div class="box-header-btns pull-right">
                                                <a title="settings" ng-click="openSettings(dashboard.widgets[3])"><i class="glyphicon glyphicon-cog"></i></a>
                                                <a title="Remove widget" ng-click="remove(dashboard.widgets[3])"><i class="glyphicon glyphicon-trash"></i></a>
                                        </div>
                                    </div>
                                    <div class="box-content">
                                        
                                    </div>
                            </div>
                        </li>-->
                </ul>
            </div>
    </div>
        
    
    
</div>